<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">

    <!---- Titulo ---->
    <title>Agregar Producto</title>

    <!---- BOOTSTRAP ---->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

    <!----- CUSTOM CSS ----->
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/main.css') }}">
</head>
<!--------------Cuerpo ---------->
<body>

<!-------------MAIN -------------->
<main>

    <!-- Titulo -->
    <h1 class = "display-4 text-center m-2 titulo">  Agregar Nuevo Producto </h1>

    <!---- FORM --->
    <form action ="/crear_producto" method="post">

        <!---- SIZE/Tamaño ---->
        <div class="col-md-4 offset-md-4 my-auto">

            <!---- Número de serie del Producto ---->
                        <div class="form-floating mb-2">
                            <input type="NumerodeserieProducto" name=Numero_de_serie_producto class="form-control"
                                   id="floatingInput" autofocus>
                            <label for="floatingInput">Número de Serie</label>
                        </div>

            <!---- Nombre Producto---->
            <div class="form-floating mb-2">
                <input type="nombreProducto"  name=nombre_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Nombre</label>
            </div>


            <!---- Sistema Operativo del Producto---->
            <div class="form-floating mb-2">
                <input type="sistemaoperativoProducto"  name=sistema_operativo_producto class="form-control"
                       id="floatingInput">
                <label for="floatingInput">Sistema Operativo</label>
            </div>

            <!---- Color del Producto ---->
            <div class="form-floating mb-2">
                <input type="colorProducto" name=color_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Color</label>
            </div>

            <!---- Tamaño del Producto---->
            <div class="form-floating mb-2">
                <input type="tamanioProducto"  name=tamanio_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Tamaño</label>
            </div>

            <!---- Peso del Producto ---->
            <div class="form-floating mb-2">
                <input type="pesoProducto" name=peso_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Peso</label>
            </div>

            <!---- Pantalla del Producto---->
            <div class="form-floating mb-2">
                <input type="pantallaProducto"  name=pantalla_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Pantalla</label>
            </div>

            <!---- Micrófonos del Producto ---->
            <div class="form-floating mb-2">
                <input type="microfonosProducto" name=microfonos_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Micrófonos</label>
            </div>

            <!---- Audio del Producto---->
            <div class="form-floating mb-2">
                <input type="audioProducto"  name=audio_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Audio</label>
            </div>

            <!----Cámaras del Producto---->
            <div class="form-floating mb-2">
                <input type="camarasProducto"  name=camaras_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Cámaras</label>
            </div>

            <!---- CPU del Producto ---->
            <div class="form-floating mb-2">
                <input type="cpuProducto" name=cpu_producto class="form-control" id="floatingInput">
                <label for="floatingInput">CPU</label>
            </div>

            <!---- Alimentación del Producto ---->
            <div class="form-floating mb-2">
                <input type="alimentacionProducto" name=alimentacion_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Alimentación</label>
            </div>

            <!---- Velocidad del Producto ---->
            <div class="form-floating mb-2">
                <input type="velocidadProducto" name=velocidad_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Velocidad</label>
            </div>

            <!---- Puertos del Producto ---->
            <div class="form-floating mb-2">
                <input type="puertosProducto" name=puertos_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Puertos</label>
            </div>


            <!---- Descripción Producto ---->
            <div class="form-floating mb-2">
                <input type="descripcionProducto" name=descripcion_producto class="form-control" id="floatingInput">
                <label for="floatingInput">Descripción</label>
            </div>

        </div>

        <!------- BUTTONS FORMS --------->
        <div class ="row">
            <!---SUBIT BUTTON ---->
            <div class="col-md-1 offset-md-5 text-center ">

                <button type="submit" class="btn btn-primary">Agregar</button>

            </div>
            <!---VOLVER BUTTON ---->
            <div class="col">
                <a class="btn btn-primary" href="/" role="button">Volver</a>
            </div>

        </div>
    </form>

</main>

</body>

</html>